* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Proxima Nova', 'Hevetica Neue', Helvetica, Arial, sans-serif;
  background-color: $white;
  height: 100%;
  width: 100%;
  color: $white;
}

.unselectable {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
