.hello-box {
  align-self: center;
  position: relative;
  z-index: 1;

  .hello-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .hello-button {
    appearance: none;
    border: none;
    box-shadow: 0 0 0 5px rgba($red, 0.5);
    color: $white;
    background: $red;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.8rem 1.2rem 0.8rem 0.8rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    line-height: 1rem;
    outline: none;
    font-weight: 600;

    .hello-tag {
      color: $red;
      padding: 0 5px;
      font-size: 0.8rem;
      line-height: 20px;
      height: 20px;
      background-color: $white;
      border-radius: 10px;
      margin-right: 0.8rem;
      transition: all 1000ms;
    }
  }
  .hello-hash {
    display: inline-block;
    margin-top: 0.75rem;
    color: $white;
  }

  @include breakpoint($phone) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    .hello-title {
      font-size: 4rem;
      width: 100%;
    }
    .hello-button {
      font-size: 1rem;
    }
    .hello-hash {
      margin: auto 0.75rem;
      font-size: 0.8rem;
    }
  }
}
