.hello-box {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;

  @include breakpoint($phone) {
    justify-content: center;
  }

  button {
    appearance: none;
    border: none;
    box-shadow: 0 0 0 3px rgba($red, 0.5);
    color: $white;
    background: $red;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    line-height: 1.2;
    outline: none;

    span {
      color: $red;
      padding: 0 5px;
      font-size: 0.8rem;
      line-height: 20px;
      height: 20px;
      background-color: $white;
      border-radius: 10px;
      margin-right: 0.5rem;
      transition: transform .1s;
    }
  }
}
